* {
  margin: auto 0;
}

body {
  background-color: #5F408E;
  /*text-align: center;*/
  /*padding-left: 30%;
  padding-right: 30%;*/
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 40px;
}

h3 {
  margin-top: 25px;
  text-align: center;
}

p {
  margin-top: 10px;
  margin-left: 30%;
  margin-right: 30%;
}

ul {
  margin-top: 10px;
  margin-left: 43%;
  width: 40%;
}

li {
  margin-top: 5px;
}

div {
  text-align: center;
}

img {
  width: 30%;
}
